body {
  margin: 0;
  font-family: 'Bai Jamjuree';
  background-color: white;
  //background-image: url("carrepair.jpg"), url("https://i.ytimg.com/vi/mRwjHwva6SY/maxresdefault.jpg");
    background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.banner {
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.02), 0 0.75vw 2.5vw 0 rgba(0, 0, 0, 0.02);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: calc(100% - 2vw);
  padding: 1vw;
  margin-bottom: 4vw;
}

.banner a {
  float: left;
  color: black;
  text-align: center;
  padding: 1.5vw;
  text-decoration: none;
  font-size: 1vw;
}

.left a {
 background-color: rgb(84, 121, 216);
  padding: 14px;
}

/*.banner a:hover {
  background-color: rgb(0, 0, 0);
   color: white;

}*/

.banner a.active {
  color: black;
}
h1{
  font-size: 5vw;
  color: rgb(167, 167, 167);
  padding: 4%;
  margin-bottom: 10%;
  margin-top: -13%;
  padding-left: 7vw;
  font-weight: bolder;
}

.subhead{
  font-size: 1.5vw;
  color:rgb(0, 0, 0);
  width: 30%;
  font-weight: lighter;
  text-align: left;
  line-height: 1.8;
   letter-spacing: 0.2vw;
   padding-left: 1vw;
  //text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.788);
}

/*.body {
    background-image: url("carrepair.jpg");
      height: 35vw;
    margin-top: 10vw;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
*/
.body1{
  font-size:1.75vw;
  color:white;
  padding: 5vw;
  background-color: rgba(0, 0, 0, 0.596);
margin-top: 22%;
margin-left: 15%;
margin-right: 15%;
margin-bottom: 14vw;
line-height: 1.4;
   letter-spacing: 0.2vw;
   text-align: justify;
}

.body2{
  font-size:1.5vw;
  color:black;
  padding: 5vw;
  background-color: white;
  line-height: 1.5;
   letter-spacing: 0vw;
   text-align: left;
   width: 35%;
   margin-bottom: 5vw;
   height: 40.95vw;

}

.body3{
  font-size:1.5vw;
  color:white;
  padding: 5vw;
  background-color: #071970;
    line-height: 1.5;
   letter-spacing: 0vw;
   text-align: left;
   width: 35%;
   margin-bottom: 5vw;
   margin-left: calc(65% - 10vw);
   height: 44vw;
}

.body4{
  font-size:1.5vw;
  color:black;
  padding: 5vw;
  margin-top: -2.5vw;
  background-color: white;
  line-height: 1.5;
   letter-spacing: 0vw;
   text-align: left;
   width: 37%;
   margin-bottom: 10vw;
   height: 42vw;
}

.white {
  background-color: white;
margin-bottom: 15%;
}
