body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(73, 95, 150);
  background-image: url("carrepair.jpg") ;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.712);
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}
.banner a {
  float: left;
  color: rgb(73, 95, 150);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}

.left a {
 background-color: rgb(73, 95, 150);
  padding: 14px;
}

.banner a:hover {
  background-color: rgb(73, 95, 150);
   color: gold;
}

.banner a.active {
  color: gold;
}
h1{
  font-size: 5.7vw;
  color: gold;
  padding-left: 4%;
  margin-top: 6vw;
}

.subhead{
  font-size:2.5vw;
  color:gold;
  margin: 5%;
}

.body{
  font-size:1vw;
  color:gold;
  margin-top: 12vw;

}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.726);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.line {
  background-color: gold;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 320px
  color: gold;
  font-size: 7px;
}
