body {
  margin: 0;
  font-family: 'Bai Jamjuree';
  background-color: rgb(255, 255, 255);
  background-image: url("loginstamp.gif");
  background-repeat: repeat;
  background-size: 3.5vw 3.5vw;
}

.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
  position: -webkit-sticky;
  //position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 0.01vw solid rgb(200, 200, 200);
}


.box {
  padding: 3vw;
  background-color: white;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  float: center;
  //box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.05);
}


h1{
  font-size: 3vw;
  color: #273785;
  margin-bottom: 3vw;
  margin-top: 1vw;
  letter-spacing: 0.5vw;
  line-height: 1.2;
  font-weight: lighter;
}

button {
  background-color: #273785;
  padding: 10px;
  width: 100%;
 border: none;
 float: center;
 color: white;
 font-size: 15px;
 //border-radius: 5px;
 outline: none;
 font-family: 'Bai Jamjuree';
}

button:hover {
  background-color: rgb(226, 226, 226);
  color: #273785;
}

.text {
 width: 100%;
 float: center;
 border-top: none;
 border-left: none;
 border-right: none;
 border-color: rgb(219, 219, 219);
 border-width: 2px;
 font-size: 15px;
 outline: none;
 font-family: 'Bai Jamjuree';
}
