body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(73, 95, 150);
  background-image: url("loginstamp.gif");
  background-repeat: repeat;
  background-size: 3.5vw 3.5vw;
}

.banner {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.712);
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}
.banner a {
  float: left;
  color: rgb(73, 95, 150);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}

.left a {
 background-color: rgb(73, 95, 150);
  padding: 14px;
}

.banner a:hover {
  background-color: rgb(73, 95, 150);
   color: gold;
}

.banner a.active {
  color: gold;
}

.box {
  padding: 3vw;
  background-color: white;
  margin: 25%;
  float: center;
}


h1{
  font-size: 5.7vw;
  color: gold;
  margin-bottom: 3vw;
}

.subhead{
  font-size:2.5vw;
  color:gold;
  margin: 5%;
}

.body{
  font-size:1.75vw;
  color:gold;
  margin-top: 12vw;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

